arrow==1.2.3
asttokens
backcall
backports.functools-lru-cache
binaryornot==0.4.4
blis==0.7.9
catalogue==2.0.8
certifi==2023.5.7
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm
confection==0.1.0
contourpy==1.1.0
cookiecutter==2.1.1
cycler==0.11.0
cymem==2.0.7
debugpy
decorator
distlib==0.3.6
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
entrypoints
exceptiongroup==1.1.1
executing
fastjsonschema==2.17.1
filelock==3.12.2
fonttools==4.40.0
fuzz==0.1.1
gitdb==4.0.10
GitPython==3.1.31
identify==2.5.24
idna==3.4
imageio==2.31.1
inexactsearch==1.0.2
iniconfig==2.0.0
ipykernel
ipython
ipython-genutils==0.2.0
jedi
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
jupyter-client
jupyter-highlight-selected-word==0.2.0
jupyter_core
kiwisolver==1.4.4
langcodes==3.3.0
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline
mglearn==0.2.0
murmurhash==1.0.9
nest-asyncio
nltk==3.8.1
nodeenv==1.8.0
numpy==1.25.0
packaging
pandas==2.0.2
parso
pathy==0.10.2
pickleshare
Pillow==9.5.0
pipreqs==0.4.13
platformdirs
pluggy==1.1.0
pre-commit==3.3.3
preshed==3.0.8
prompt-toolkit
psutil
pure-eval
pydantic==1.10.11
Pygments
pyparsing==3.1.0
pyspellchecker==0.7.2
pytest==7.3.2
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
pywin32==305.1
PyYAML==6.0
pyzmq==25.1.0
rapidfuzz==3.1.1
regex==2023.6.3
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.8.10
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.2
silpa-common==0.3
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soundex==1.1.3
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data
text-unidecode==1.3
textblob==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tornado
tqdm==4.65.0
traitlets
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.3
virtualenv==20.23.0
wasabi==1.1.2
wcwidth
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
wordcloud==1.9.2
yarg==0.1.9
